  <div class="row">
    <h3>登録情報更新</h3>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "h-adr" }) do |form| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= form.label :last_name, '氏名' %>
        <%= form.text_field :last_name, class: "form-control", style: "display: inline-block; width:auto;" %>
        <%= form.text_field :first_name, class: "form-control", style: "display: inline-block; width:auto;" %>
      </div>
      <div class="form-group">
        <%= form.label :last_name_kana, 'フリガナ' %>
        <%= form.text_field :last_name_kana, class: "form-control", style: "display: inline-block; width:auto;" %>
        <%= form.text_field :first_name_kana, class: "form-control", style: "display: inline-block; width:auto;" %>
      </div>
          <span class="p-country-name" style="display:none;">Japan</span>
          <input type="hidden" class="p-country-name">
      <div class="form-group">
        <%= form.label :postcode, '郵便番号' %>
        <%= form.text_field :postcode, class: "form-control p-postal-code", style: "display: inline-block; width:auto;" %>
      </div>
      <div class="form-group">
         <%= form.label :address, '住所' %>
         <%= form.text_field :address, class: "form-control p-region p-locality p-street-address p-extended-address", style: "display: inline-block; width:60%;" %>
      </div>
        <div class="form-group">
          <%= form.label :tel, '電話番号' %>
          <%= form.text_field :tel, class: "form-control", style: "display: inline-block; width:auto;" %>
        </div>
        <div class="form-group">
          <%= form.label :email, 'メールアドレス' %>
          <%= form.text_field :email, class: "form-control", style: "display: inline-block; width:30%;" %>
        </div>

        <% if devise_mapping.confirmable? && resource. pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="text-center" >
        <%= form.submit "編集内容を保存する", class: "btn btn-primary" %>
        </div>

        <div class="text-right">
        <%= link_to quit_path do %>
          <button class="btn btn-danger">退会する</button>
        <% end %>
      </div>
    <% end %>

  </div>
</div>