<div class="container mt-4">
	<div class="row">
		<div class="col-xs-3">
			<div class="panel panel-default">
			  	<div class="panel-heading">ジャンル検索</div>
			  	<ul class="list-group">
				  	<% @genres.each do |genre| %>
				  	<% if genre.status == true %>
				      <li class="list-group-item">
				      	<%= link_to genre.name, products_path(genre_id: genre.id), class: "" %>
				      </li>
				    <% end %>
				    <% end %>
			  	</ul>
			</div>
		</div>
		<div class="col-xs-9">
			<div class="row top">
				<div class="top-content col-xs-6 col-xs-offset-3">
					<p>ようこそ、NaganoCakeへ！</p>
					<p>このサイトは、ケーキ販売のECサイトになります。</p>
					<p>会員でない方も商品の閲覧はできますが、</p>
					<p>購入には会員登録が必要になります。</p>
				</div>
			</div>
			<div class="row recommend-products">
				<h3 class="col-xs-12">オススメ商品</h3>
				<% @products.first(4).each do |product| %>
					<div class="product col-xs-3">
						<%= link_to product, class: "" do %>
							<%= attachment_image_tag product, :image, :fill, 150, 150, format: 'jpeg', fallback: 'no_image.jpg', size: '150x150' %>
						<% end %>
						<h4><%= link_to product.name, product, class: "" %></h4>
						<p>￥<%= product.price %></p>
					</div>
				<% end %>
				<%= link_to "もっとみる", products_path, class: "pull-right" %>
			</div>
		</div>
	</div>
</div>