<div class="container">
	<div class="row">
		<h3 class="admin-customer">会員詳細画面</h3>
		<table class="table">
			<tbody xc>
				<tr style="border: none;">
					<th style="border: none;">顧客ID</th>
					<td style="border: none;"><%= @customer.id %></td>
				</tr>
				<tr style="border: none;">
					<th style="border: none;">氏名</th>
					<td style="border: none;">
						<%= @customer.last_name %>　<%= @customer.first_name %>
						<% if @customer.status == true %>
						<span class="label label-primary">有効会員</span>
						<% else %>
						<span class="label label-default">無効会員</span>
						<% end %>
					</td>
				</tr>
				<tr style="border: none;">
					<th style="border: none;">フリガナ</th>
					<td style="border: none;"><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></td>
				</tr>
				<tr style="border: none;" style="border: none;" style="border: none;">
					<th style="border: none;" style="border: none;">郵便番号</th>
					<td style="border: none;"><%= @customer.postcode %></td>
				</tr>
				<tr style="border: none;">
					<th style="border: none;" style="border: none;">住所</th>
					<td style="border: none;"><%= @customer.address %></td>
				</tr>
				<tr style="border: none;">
					<th style="border: none;">電話番号</th>
					<td style="border: none;"><%= @customer.tel %></td>
				</tr>
				<tr style="border: none;">
					<th style="border: none;">メールアドレス</th>
					<td style="border: none;"><%= @customer.email %></td>
				</tr>
			</tbody>
		</table>
		<div class="link-buttons">
			<%= link_to "編集する", edit_admins_customer_path(@customer), class: "btn btn-primary" %>
			<%= link_to "注文履歴一覧を見る", admins_orders_path(customer_id: @customer.id), class: "btn btn-primary" %>
		</div>
	</div>
</div>