<div class="container">
	<%= form_with(url: confirm_orders_path, method: :post, local: true) do |f| %>
	<div class="row">
		<h3 class="title">注文情報入力</h3>
		<br>
		<table class="table background: transparent">
			<tr>
				<th>支払方法</th>
					<td><%= f.radio_button(:payment, "1") %>
						<%= f.label :payment, "クレジットカード" %>
					</td>
			</tr>
			<tr>
				<th></th>
					<td><%= f.radio_button(:payment, "0") %>
						<%= f.label :payment, "銀行振り込み" %>
					</td>
			</tr>
		</table>
		<br>
			<div class="col-xs-6">
				<table class="table background: transparent">
					<tr class="">
						<th>お届け先</th>
						 	<td>
								<div class="col-xs-offset-2">
        						<%= f.radio_button(:address,"ご自身の住所" ) %>
        						<%= f.label :address, "ご自身の住所" %>
        							<div class="col-xs-offset-2">
          								<p>〒<%= current_customer.postcode + current_customer.address %>
          								<br><%= current_customer.last_name + current_customer.first_name %></p>
      								</div>
      							</div>
      						</td>
      				</tr>
      				<tr>
      					<th></th>
         					<td>
         						<div class="col-xs-offset-2  order-input-margin">
        						<%=f.radio_button :address,"既存の住所" %>
        						<%= f.label :address, "既存の住所" %>
	        						<div class="col-xs-offset-2">
	        						<%= f.collection_select :pre_address, current_customer.addresses, :id, :deliverd, {prompt: "選択してください"},{class: "form-control"} %>
       								</div>
      							</div>
      						</td>
      				</tr>

      				<tr>
      					<th></th>
      						<td>
        						<div class="col-xs-offset-2">
        							<%= f.radio_button :address,"新しいお届け先" %>
        							<%= f.label :address, "新しいお届け先" %>
          								<div class="form-group">
          									<table class="background: transparent">

              											<p>	郵便番号（ハイフンなし）<%= f.text_field :postcode %></p>
             											<p> 住所　　　　　　　　 　　<%= f.text_field :new_address %></p>
              											<p> 宛名 　　　　　　　　　　<%= f.text_field :destination %></p>
		 									</table>
		  								</div>
		  						</div>
		  					</td>
		  			</tr>
		  		</table>
		<div class="text-right">
		  	<%= f.submit "確認画面へ進む" , class: "btn btn-primary " %>
         </div>
          	<% end %>
        </div>
     </div>
</div>