<div class="container">
	<div class="row">
		<h3>注文情報入力</h3>
		<div class="payment">
			<%= form_with(url: confirm_orders_path, method: :post, local: true) do |f| %>
			<h4>支払方法</h4>
			<div>
			<%= f.label :payment, "クレジットカード" %>
			<%= f.radio_button(:payment, "1") %>
			</div>
			<div>
			<%= f.label :payment, "銀行振り込み" %>
			<%= f.radio_button(:payment, "0") %>

		</div>
		<div class="address">
			<h4>お届け先</h4>
			<div class="col-xs-offset-1">
        	<%= f.radio_button(:address,"ご自身の住所" ) %>  <!-- ご自身の住所 -->
        	<div class="col-xs-offset-1">
          	<p>〒<%= current_customer.postcode + current_customer.address %>
          	<br><%= current_customer.last_name + current_customer.first_name %>
      		</div>
      		</div>

         	<div class="col-xs-offset-1  order-input-margin">
        		<%=f.radio_button :address,"既存の住所" %>
        		 <!-- 既存の住所 -->
	        <div class="col-xs-offset-1">
	        	<%= f.collection_select :pre_address, current_customer.addresses, :id, :deliverd, {prompt: ""} %>
       		</div>
      		</div>
        <div class="col-xs-offset-1">
        	<%= f.radio_button :address,"新しいお届け先" %> <!-- 新しいお届け先 -->
          <div class="form-group">
            <label class="col-xs-4">宛名</label>
            <div class="col-xs-5">
              <%= f.text_field :postcode %></p>
              <p> 住所 <%= f.text_field :new_address %><p>
              <p> 宛名 <%= f.text_field :destination %></p>
		 	</div>
		  </div>
		  <%= f.submit "確認画面へ進む" , class: "btn btn-primary " %>
          <% end %>
</div>