	<%= form_with(url: confirm_orders_path, method: :post, local: true) do |f| %>
	<div class="row">
		<h3 class="title">注文情報入力</h3>
		<br>
    <div class="col-xs-7">
  		<table class="table background: transparent">
  			<tr>
  				<th style="border:none;width:30%;">支払方法</th>
  					<td style="border:none;"><%= f.radio_button(:payment, "1") %>
  						<%= f.label :payment, "クレジットカード", style: "width:auto;" %>
  					</td>
  			</tr>
  			<tr>
  				<th style="border:none;"></th>
  					<td style="border:none;">
              <div>
                <%= f.radio_button(:payment, "0") %>
    						<%= f.label :payment, "銀行振り込み", style: "width:auto;" %>
              </div>
  					</td>
  			</tr>
  		</table>
    </div>
		<br>
			<div class="col-xs-7">
				<table class="table background: transparent">
					<tr class="">
						<th style="border:none;width:30%;">お届け先</th>
						 	<td style="border:none;">
								<div>
        						<%= f.radio_button(:address,"ご自身の住所" ) %>
        						<%= f.label :address, "ご自身の住所", style: "width:auto;" %>
        							<div class="">
          								<p>〒<%= current_customer.postcode + current_customer.address %>
          								<br><%= current_customer.last_name + current_customer.first_name %></p>
      								</div>
      							</div>
      						</td>
      				</tr>
      				<tr>
      					<th style="border:none;"></th>
         					<td style="border:none;">
         						<div class="order-input-margin">
        						<%=f.radio_button :address,"既存の住所" %>
        						<%= f.label :address, "既存の住所", style: "width:auto;" %>
	        						<div class="">
	        						<%= f.collection_select :pre_address, current_customer.addresses, :id, :deliverd, {prompt: "選択してください"},{class: "form-control"} %>
       								</div>
      							</div>
      						</td>
      				</tr>

      				<tr>
      					<th style="border:none;"></th>
      						<td style="border:none;">
        						<div class="">
        							<%= f.radio_button :address,"新しいお届け先" %>
        							<%= f.label :address, "新しいお届け先", style: "width:auto;" %>
          								<div class="form-group">
          									<table class="background: transparent">
                              <div class="flex">
                                <p>郵便番号（ハイフンなし）</p>
                                <%= f.text_field :postcode, class: "form-control", style: "width: 30%;" %>
                              </div>
                              <div class="flex">
                                <p>住所</p>
                                <%= f.text_field :new_address, class: "form-control", style: "width: 60%;" %>
                              </div>
                              <div class="flex">
                                <p>宛名</p>
                                <%= f.text_field :destination, class: "form-control", style: "width: 30%;" %>
                              </div>
		 									</table>
		  								</div>
		  						</div>
		  					</td>
		  			</tr>
		  		</table>
        </div>
        <div class="text-center col-xs-12">
		  	<%= f.submit "確認画面へ進む" , class: "btn btn-primary " %>
         </div>
          	<% end %>
     </div>
</div>