<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, size: 30, autofocus: true, autocomplete: "email" %>
        </div>

        <br>

        <div class="field">
          <%= f.label :パスワード %>
          <%= f.password_field :password, size: 30, autocomplete: "current-password" %>
        </div>

        <br>
      
        <div class="actions">
          <button class="log-in btn btn-info" type="submit">ログイン</button>
        </div>
      <% end %>

    </div>
  </div>
</div>

<!--
<%= render "admins/shared/links" %>
 -->