<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-7">

      <div class="customer-login">
        <p class="customer-login-text">会員の方はこちらからログイン</p>
      </div>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          
          <div class="form-group row">
            <%= f.label :メールアドレス, class: "col-sm-offset-2 col-sm-3" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-sm-7" %>
          </div>

          <div class="form-group row">
            <%= f.label :パスワード, class: "col-sm-offset-2 col-sm-3" %>
            <%= f.password_field :password, autocomplete: "current-password", class: "col-sm-7" %>
          </div>

          <div class="forget-password">
            <%= link_to "=>パスワードを忘れた方はこちら", new_password_path(resource_name) %>
          </div>

          <div class="actions">
            <button class="log-in btn btn-info col-sm-offset-5 col-sm-3" type="submit">ログイン</button>
          </div>
        </div>

          
        <% end %>

    </div>


    <div class="col-sm-offset-2 col-sm-7">
      <div class="customer-signup">
        <p class="customer-signup-text">登録がお済みでない方</p>
      </div>

      <div class="col-sm-offset-2">
        <p><%=link_to 'こちら', new_customer_registration_path %>から新規登録を行ってください。</p>
      </div>

    </div>

  </div>
</div>