<div class="container">
  <div class="row">
    <h3 class="admin-product">商品　新規登録画面</h3>
  </div>

  <%= render "layouts/error_messages" %>

  <%#= form_with (model:@product, method: :post, url: '/admins/products' do |f| %>
  <%= form_with(model: [:admins, @product], local: true) do |f| %>

  <div class="row">

      <div class="col-xs-12 col-md-offset-1 col-md-3">
        <%= image_tag 'no_image.jpg', size: '200x150' %>
        <%=f.label :image, '画像選択', class: "btn btn-info image-btn col-sm-5" %>
        <%= f.attachment_field :image, style: 'display: none;' %>
      </div>
      <div class="col-md-5">
          <div class="form-group row">
            <%= f.label :商品名, class: "col-md-4" %>
            <%= f.text_field :name, class: "col-md-6" %>
          </div>

          <div class="form-group row">
            <%= f.label :商品説明, class: "col-md-4" %>
            <%= f.text_area :introduction, class: "col-md-6" %>
          </div>

          <div class="form-group row">
            <%= f.label :genre_id, "ジャンル", class: "col-md-4" %>
            <%= f.collection_select :genre_id, Genre.where(status: true), :id, :name, :prompt => "選択してください", class: "col-md-6"  %>
          </div>


          <div class="form-group row">
            <%= f.label :税抜価格, class: "col-md-4" %>
            <%= f.text_field :price, class: "col-md-6" %>
          </div>
          <div class="form-group row">
            <%= f.label :status, "販売ステータス", class: "col-md-4" %>
            <%= f.select :status, [["販売中", true],["販売停止中", false]], :prompt => "選択してください", class: "col-md-6" %>
        </div>
      </div>
        <div class="row">
          <div class="col-md-offset-10 col-md-2">
            <button class="btn btn-info" type="submit">新規登録</button>
          </div>
        </div>
    </div>

  <% end %>
</div>