<% price = @product.price * 1.1 %>

<div class="container">
  <div class="row">
	<h4>商品　詳細画面</h4>
  </div>

  <div class="row">
  	<div class="col-sm-offset-1 col-sm-3 product-image">
  		<%= attachment_image_tag @product, :image, :fill, 200, 150, format: 'jpeg', fallback: 'no_image.jpg', size: '200x150' %>
  	</div>

   	  <div class="col-sm-offset-1 col-sm-4 product-text">
  		<table class="table">
  			<tbody>
  				<tr>
  					<td>商品名</td>
  					<td><%= @product.name %></td>
  				</tr>
  				<tr>
  					<td>商品説明</td>
  					<td><%= @product.introduction %></td>
  				</tr>
  				<tr>
  					<td>ジャンル</td>
  					<td><%= @product.genre.name %></td>
  				</tr>
  				<tr>
  					<td>税込価格（税抜価格）</td>
  					<td><%= @product.price %> (<%= price.round %>) 円</td>
  				</tr>
  				<tr>
  					<td>販売ステータス</td>
  					<td><%= @product.status %></td>
  				</tr>
  			</tbody>
  		</table>
  	  </div>
  	 </div>

  	<div class="row">
      <div class="col-sm-offset-10 col-sm-2 button">
      	<%= link_to edit_admins_product_path do%>
  		<button class="btn btn-info" type="submit">編集する</button>
  		<% end %>

  	  </div>
  	</div>

  </div>


