<div class="container mt-4">
	<div class="row">
		<div class="col-xs-3">
			<div class="panel panel-default" style="margin-top: 20px;">
			  	<div class="panel-heading">ジャンル検索</div>
			  	<ul class="list-group">
				  	<% @genres.each do |genre| %>
				      <li class="list-group-item">
				      	<%= link_to genre.name, products_path(genre), class: "" %>
				      </li>
				    <% end %>
			  	</ul>
			</div>
		</div>
		<div class="col-xs-9">
			<div class="row recommend-products">
				<h3 class="col-xs-12">商品一覧（全<%= @products.count %>件）</h3>
				<% @products.each do |product| %>
					<div class="product col-xs-3">
						<%= link_to product, class: "" do %>
							<%= image_tag 'no_image.jpg', size: '100x100' %>
						<% end %>
						<h4><%= link_to product.name, product, class: "" %></h4>
						<p>￥<%= product.price %></p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>