

<div class="container">
	<div class="row">
		<h3>注文詳細画面</h3>
	</div>

	<div class="row">
		<div class="col-sm-9">
  			<table class="table">
  				<tbody>
  					<tr style="border: none;">
  						<td style="border: none; font-weight: bold;">購入者</td>
  						<td  style="border: none;"><%= link_to admins_customer_path(@order.customer_id) do %>
  							<%= @order.customer.last_name %>
							<%= @order.customer.first_name %></td>
							<% end %>
	  				</tr>
  					<tr style="border: none;">
  						<td style="border: none; font-weight: bold;">配送先</td>
  						<td style="border: none;">〒<%= @order.postcode + @order.address %></td>
  					</tr>
  					<tr style="border: none;">
  						<td style="border: none;"></td>
  						<td style="border: none;"><%= @order.destination %></td>
  					</tr>
  					<tr style="border: none;">
  						<td style="border: none; font-weight: bold;">支払方法</td>
  						<td style="border: none;"><%= @order.payment_i18n %></td>
  					</tr>
  					<tr style="border: none;">
  						<td style="border: none; font-weight: bold;">注文ステータス</td>
  						<td style="border: none;"><%= form_with(model: [:admins, @order]) do |f| %>
  	  	  					<%= f.select :status, Order.statuses_i18n.keys.map {|k| [I18n.t("enum.order.status.#{k}"), k]} %>
  	  	  					<button class="btn btn-primary" type="submit">更新</button>

  	  	  					<% end %>
  	  		  			</td>
  					</tr>
  				</tbody>
  			</table>
  	  	</div>
  	</div>

  	  <div class="row">
  	  	  <div class="col-sm-7">
  	  	  	<table class="table">
  	  	  		<thead>
  	  	  			<tr>
  	  	  				<th>商品名</th>
  	  	  				<th>単価（税込）</th>
  	  	  				<th>数量</th>
  	  	  				<th>小計</th>
  	  	  				<th>製作ステータス</th>
  	  	  				<th></th>
  	  	  			</tr>
  	  	  		</thead>
  	  	  		<tbody>
  	  	  			<% totalprice = 0 %>
  	  	  			<% @order_items.each do |order_item| %>

  	  	  			<% price = (order_item.price * 1.1).round %>
  	  	  			<% subtotal = price * order_item.piece %>
  	  	  			<% totalprice += subtotal %>

  	  	  			<tr>
  	  	  				<td><%= order_item.product.name %></td>
  	  	  				<td><%= price %></td>
  	  	  				<td><%= order_item.piece %></td>
  	  	  				<td><%= subtotal %></td>
  	  	  				<td><%= form_with(model: [:admins, @order_item]) do |f| %>
  	  	  					<%= f.select :produce_status, OrderItem.produce_statuses_i18n.keys.map {|k| [I18n.t("enum.order_item.produce_status.#{k}"), k]} %>
  	  	  				</td>
  	  	  				<td><button class="btn btn-primary" type="submit">更新</button></td>
  	  	  				<% end %>
  	  	  			</tr>
  	  	  			<% end %>
  	  	  		</tbody>
  	  	  	</table>
  	  	  </div>

  	  	  <div class="total-price col-sm-offset-1 col-sm-4">
  	  	  	<table class="table">

  	  	  		<tr style="border: none;">
  	  	  			<td style="border: none; font-weight: bold;">商品合計</td>
  	  	  			<td style="border: none;"><%= totalprice %>  円</td>
  	  	  		</tr>
  	  	  		<tr style="border: none;">
  	  	  			<td style="border: none; font-weight: bold;">送料</td>
  	  	  			<td style="border: none;"><%= @order.postage %>  円</td>
  	  	  		</tr>

  	  	  		<% totalprice += @order.postage %>

  	  	  		<tr style="border: none;">
  	  	  			<td style="border: none; font-weight: bold;">請求金額合計</td>
  	  	  			<td style="border: none;  font-weight: bold;"><%= totalprice %>  円</td>
  	  	  		<tr>
  	  	  	</table>
  	  	  </div>
  	  </div>
</div>