
<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake!</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample5">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <%= link_to "NaganoCake", root_path, class: "navbar-brand text-success", style: "color:black;font-weight: bold;" %>
          </div>

          <% if customer_signed_in? %>

          <div class="collapse navbar-collapse" id="navbarEexample5">
            <ul class="nav navbar-nav">
              <li><%= link_to "ホーム", root_path %></li>
              <li><%= link_to "本サイトについて", about_path %></li>
              <li><%= link_to " マイページ", customers_path %></li>
              <li><%= link_to "商品一覧", products_path %></li>
              <li><%= link_to "カート", cart_items_path %></li>
              <li><%= link_to " ログアウト", destroy_customer_session_path, method: :delete %></li>
            </ul>
            <p class="navbar-text">ようこそ<%= current_customer.last_name %>さん。</p>
            <%= form_tag('/oranges', method: :post,class: "navbar-form navbar-left",id:"example_id") do %>
              <div class="form-group">
                <%= text_field_tag :search, "検索キーワード", {class: "form-control"} %>
                <%= submit_tag '検索', class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>

          <% elsif admin_signed_in? %>

          <div class="collapse navbar-collapse" id="navbarEexample5">
            <ul class="nav navbar-nav">
              <li><%= link_to "ホーム", admins_top_path %></li>
              <li><%= link_to "商品一覧", admins_products_path %></li>
              <li><%= link_to "会員一覧", admins_customers_path %></li>
              <li><%= link_to "注文履歴一覧",admins_orders_path %></li>
              <li><%= link_to "ジャンル管理",admins_genres_path %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete %></li>
            </ul>
            <%= form_tag('/oranges', method: :post,class: "navbar-form navbar-left",id:"example_id") do %>
              <div class="form-group">
                <%= text_field_tag :search, "検索キーワード", {class: "form-control"} %>
                <%= submit_tag '検索', class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>

          <% else %>

          <div class="collapse navbar-collapse" id="navbarEexample5">
            <ul class="nav navbar-nav">
              <li><%= link_to "ホーム", root_path %></li>
              <li><%= link_to "本サイトについて", about_path %></li>
              <li><%= link_to "商品一覧", products_path %></li>
              <li><%= link_to "新規登録", new_customer_registration_path %></li>
              <li><%= link_to "ログイン", customer_session_path %></li>
            </ul>
            <%= form_tag('/oranges', method: :post,class: "navbar-form navbar-left",id:"example_id") do %>
              <div class="form-group">
                <%= text_field_tag :search, "検索キーワード", {class: "form-control"} %>
                <%= submit_tag '検索', class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>

          <% end %>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>